workflows/KB Ingest Sources 7.0.json
{
  "name": "KB Ingest Sources 7.0",
  "nodes": [
    {
      "parameters": {
        "command": "=mkdir -p /data/tmp && \\\nMETA=\"/data/tmp/meta_{{$json.source_id}}.json\" && \\\nOUT=\"/data/tmp/kb_{{$json.source_id}}.json\" && \\\nERR=\"/data/tmp/kb_{{$json.source_id}}.err\" && \\\ncat > \"$META\" <<'PYDATA'\n{{ JSON.stringify({\n  source_id: $json.source_id,\n  source_name: $json.source_name,\n  file_name: $json.file_name,\n  file_path: $json.file_path,\n  dest_path: $json.dest_path,\n  extension: $json.extension,\n  source_path: $json.source_path\n}) }}\nPYDATA\npython3 - <<'PY' \"$META\" || { echo \"Bad metadata JSON in $META\" >&2; exit 1; }\nimport sys, json\nwith open(sys.argv[1],'r',encoding='utf-8') as f:\n    json.load(f)\nprint(\"OK\", file=sys.stderr)\nPY\npython3 /data/scripts/extract_kb_clinical_guides.py < \"$META\" > \"$OUT\" 2> \"$ERR\" && \\\necho \"{\\\"file\\\":\\\"$OUT\\\",\\\"source_id\\\":{{$json.source_id}}}\" || \\\n( echo \"Extractor failed, see $ERR\" >&2; exit 1 )\n"
      },
      "id": "69128941-3090-4e71-86a4-176f1829b6d1",
      "name": "Extract & Chunk",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -496,
        464
      ]
    },
    {
      "parameters": {
        "functionCode": "// Lee el puntero que dej\u00f3 el extractor\nconst out = JSON.parse($json.stdout || '{}');\nif (!out.file) throw new Error('Extractor no devolvi\u00f3 ruta (out.file)');\nreturn [{ json: { file: out.file, source_id: out.source_id } }];\n"
      },
      "id": "dbd4c255-ebb7-484d-8488-418f264d49aa",
      "name": "Prepare Chunk Payload",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -336,
        480
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH j AS (\n  SELECT $_json${{ JSON.stringify($json) }}$_json$::jsonb AS j\n),\npayload AS (\n  SELECT\n    COALESCE((j->>'source_id')::int, (j->>'sourceId')::int) AS source_id,\n    COALESCE(NULLIF(j->>'chunk_index','')::int, NULLIF(j->>'chunkIndex','')::int) AS chunk_index,\n    COALESCE(NULLIF(j->>'page_number','')::int, 1) AS page_number,\n    COALESCE(j->>'content','') AS content,\n    j->'embedding' AS emb_json\n  FROM j\n),\nvalidated AS (\n  SELECT\n    p.*,\n    CASE\n      WHEN jsonb_typeof(p.emb_json) = 'array' THEN (\n        SELECT ARRAY_AGG(e.value::float8 ORDER BY e.ordinality)\n        FROM jsonb_array_elements(p.emb_json) WITH ORDINALITY AS e(value, ordinality)\n      )::vector\n      ELSE NULL::vector\n    END AS embedding_vec\n  FROM payload p\n)\nINSERT INTO kb_chunks (source_id, chunk_index, page_number, content, embedding)\nSELECT\n  v.source_id, v.chunk_index, v.page_number, v.content, v.embedding_vec\nFROM validated v\nWHERE v.source_id IS NOT NULL\n  AND v.chunk_index IS NOT NULL\n  AND v.chunk_index > 0\nON CONFLICT (source_id, chunk_index) DO UPDATE\nSET\n  page_number = EXCLUDED.page_number,\n  content     = EXCLUDED.content,\n  embedding   = COALESCE(EXCLUDED.embedding, kb_chunks.embedding)\nRETURNING\n  kb_chunks.source_id,\n  kb_chunks.chunk_index,\n  kb_chunks.page_number,\n  (kb_chunks.embedding IS NOT NULL) AS has_embedding;\n",
        "options": {}
      },
      "id": "b4fa8be6-1a56-45d2-9e5a-e61b0e3d38b3",
      "name": "Insert KB Chunks",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1520,
        656
      ],
      "credentials": {
        "postgres": {
          "id": "j4uy2P7wwsJyISqB",
          "name": "Postgres DrAI"
        }
      }
    },
    {
      "parameters": {
        "command": "=mv \"{{$json[\"file_path\"]}}\" \"{{$json[\"dest_path\"]}}\"\n"
      },
      "id": "46646e77-278d-48b9-9f8d-5416ea45a22b",
      "name": "Move to Processed",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1280,
        192
      ]
    },
    {
      "parameters": {
        "triggerOn": "folder",
        "path": "/data/kb/inbox",
        "events": [
          "add"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.localFileTrigger",
      "typeVersion": 1,
      "position": [
        -1568,
        448
      ],
      "id": "d9b3d5de-9a32-4002-9138-32a1cce6f961",
      "name": "Watch KB Inbox (File Trigger)"
    },
    {
      "parameters": {},
      "id": "5d7132a3-d550-4e17-bdab-45058fe595ad",
      "name": "Prepare File Context",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -1152,
        448
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO kb_sources (source_name, source_path)\nVALUES (\n  '{{ String($json.source_name || $json.file_name || \"documento\").replace(/'/g, \"''\") }}',\n  '{{ String($json.source_path || $json.dest_path || $json.file_path || '').replace(/'/g, \"''\") }}'\n)\nRETURNING source_id;",
        "options": {}
      },
      "id": "9c0bd21b-4364-4d40-965e-d25cb7b04437",
      "name": "Insert KB Sources",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -944,
        464
      ],
      "credentials": {
        "postgres": {
          "id": "j4uy2P7wwsJyISqB",
          "name": "Postgres DrAI"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const p = $json.path || '';\nconst name = p.split('/').pop();\nconst ext = name.includes('.') ? name.slice(name.lastIndexOf('.') + 1) : '';\nreturn [{\n  json: {\n    fileName: name,\n    fileExtension: ext,\n    filePath: p\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1360,
        448
      ],
      "id": "8b483ed7-10df-41f3-96a1-746b869ec7b8",
      "name": "Normalize File Info."
    },
    {
      "parameters": {
        "jsCode": "const ctx = $node[\"Prepare File Context\"].json;\n\nreturn [\n  {\n    json: {\n      source_id: $json.source_id,   // viene de Insert KB Sources; sin fallback,\n      source_name: ctx.fileName || \"unknown\",\n      file_name: ctx.fileName || \"unknown\",\n      file_path: ctx.filePath || \"\",\n      dest_path: ctx.filePath ? `/data/kb/processed/${ctx.fileName}` : \"\",\n      extension: (ctx.fileExtension || \"\").toLowerCase(),\n      source_path: ctx.filePath || \"\"\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -736,
        464
      ],
      "id": "0b00b41d-37ea-46d1-95c3-4bfe74f8f96f",
      "name": "Prepare Extractor Input"
    },
    {
      "parameters": {
        "functionCode": "// Repack (per-item) \u2014 lee embedding desde donde realmente llega la respuesta del HTTP\n\nconst meta = $json || {};\nconst content = typeof meta.content === \"string\" ? meta.content : \"\";\n\n// Detectar el embedding en cualquiera de estos sitios\nlet emb = null;\nif (Array.isArray(meta?.data) && Array.isArray(meta.data[0]?.embedding)) {\n  emb = meta.data[0].embedding;                 // HTTP \u2192 Response Format = JSON (en ra\u00edz)\n} else if (meta?.body && Array.isArray(meta.body?.data) && Array.isArray(meta.body.data[0]?.embedding)) {\n  emb = meta.body.data[0].embedding;            // algunas configs lo ponen en body\n} else if (meta?.openai_response && Array.isArray(meta.openai_response?.data)\n           && Array.isArray(meta.openai_response.data[0]?.embedding)) {\n  emb = meta.openai_response.data[0].embedding; // por si usas un wrapper\n} else if (Array.isArray(meta?.embedding)) {\n  emb = meta.embedding;                          // proxies\n}\n\nreturn [{\n  json: {\n    source_id:   meta.source_id   ?? null,\n    source_name: meta.source_name ?? null,\n    file_name:   meta.file_name   ?? null,\n    file_path:   meta.file_path   ?? null,\n    source_path: meta.source_path ?? null,\n    dest_path:   meta.dest_path   ?? null,\n    page_count:  meta.page_count  ?? null,\n    text_length: typeof content === \"string\" ? content.length : (meta.text_length ?? 0),\n\n    chunks_json: [{\n      chunk_index: meta.chunk_index ?? meta.chunkIndex ?? 1,\n      page_number: meta.page_number ?? meta.pageNumber ?? 1,\n      content,\n      status: Array.isArray(emb) ? \"ok\" : \"no_embedding\",\n      embedding: Array.isArray(emb) ? emb : null,\n    }],\n  }\n}];\n"
      },
      "id": "5611a0c9-61de-487b-8bc4-0fe2b5f49c39",
      "name": "Repack Chunks",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        544,
        128
      ],
      "retryOnFail": false,
      "executeOnce": false,
      "alwaysOutputData": false,
      "notesInFlow": false,
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/embeddings",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.OPENAI_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "text-embedding-3-small"
            },
            {
              "name": "input",
              "value": "={{$json.content}}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 60000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        560
      ],
      "id": "bf932f62-3e2b-4dc9-b3da-43ddbd45f847",
      "name": "HTTP Request (embeddings)",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": "={{ Math.pow(2, (($retryAttempt ?? 1) - 1)) * 1000 }}",
      "onError": "continueRegularOutput",
      "continueOnFail": true
    },
    {
      "parameters": {
        "fileSelector": "={{$json[\"file\"]}}",
        "options": {
          "dataPropertyName": "data"
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -64,
        416
      ],
      "id": "c9c7b8a5-b3b7-435f-8adf-4dad11c073e9",
      "name": "Read/Write Files from Disk",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        144,
        416
      ],
      "id": "1c971e89-2209-4a81-8060-98a0540d89fe",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "jsCode": "// Fan-Out for Embeddings \u2014 1 item = 1 chunk (liviano, sin duplicar listas grandes)\nconst itemsIn = $input.all().map(it => it.json?.data ?? it.json);\nif (!itemsIn.length) return [];\n\nlet meta = {};\nlet chunks = [];\n\n// Caso: un solo item trae .chunks[]\nif (Array.isArray(itemsIn[0]?.chunks) && itemsIn[0].chunks.length) {\n  const f = itemsIn[0];\n  meta = {\n    source_id:   f.source_id   ?? f.sourceId   ?? null,\n    source_name: f.source_name ?? f.sourceName ?? null,\n    file_name:   f.file_name   ?? f.fileName   ?? null,\n    file_path:   f.file_path   ?? f.filePath   ?? null,\n    source_path: f.source_path ?? f.sourcePath ?? (f.file_path ?? null),\n    dest_path:   f.dest_path   ?? f.destPath   ?? null,\n    page_count:  f.page_count  ?? f.pageCount  ?? null,\n  };\n  chunks = f.chunks.map((c, i) => ({\n    chunk_index: c.chunk_index ?? c.chunkIndex ?? (i + 1),\n    page_number: c.page_number ?? c.pageNumber ?? 1,\n    content:     c.content ?? '',\n  }));\n} else {\n  // Caso: ya viene 1 item por chunk desde Extract\n  const f = itemsIn[0] ?? {};\n  meta = {\n    source_id:   f.source_id   ?? f.sourceId   ?? null,\n    source_name: f.source_name ?? f.sourceName ?? null,\n    file_name:   f.file_name   ?? f.fileName   ?? null,\n    file_path:   f.file_path   ?? f.filePath   ?? null,\n    source_path: f.source_path ?? f.sourcePath ?? (f.file_path ?? null),\n    dest_path:   f.dest_path   ?? f.destPath   ?? null,\n    page_count:  f.page_count  ?? f.pageCount  ?? null,\n  };\n  chunks = itemsIn.map((j, i) => ({\n    chunk_index: j.chunk_index ?? j.chunkIndex ?? (i + 1),\n    page_number: j.page_number ?? j.pageNumber ?? 1,\n    content:     j.content ?? '',\n  }));\n}\n\nreturn chunks.map(c => ({\n  json: { ...meta, ...c, text_length: (c.content?.length ?? 0) }\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        352,
        416
      ],
      "id": "d5c8aabe-93c2-48d1-99a3-f77feb091341",
      "name": "Fan-Out for Embeddings"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        560,
        416
      ],
      "id": "8f6f1597-dd4e-4905-8f93-8d66e8a41def",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "jsCode": "// Get first item from Fan-Out for Embeddings for paths\nconst it = $items(\"Fan-Out for Embeddings\", 0, 0)[0];\nreturn [{ json: it.json }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1088,
        224
      ],
      "id": "ad924c5b-042d-413f-a229-0b3d841e8494",
      "name": "Alimento a Move"
    },
    {
      "parameters": {
        "jsCode": "const meta = $json ? JSON.parse(JSON.stringify($json)) : {}\nreturn [{\n  json: Object.assign({}, meta, { meta }),\n  pairedItem: { item: 0 }\n}]\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        976,
        432
      ],
      "id": "93b645a2-5372-4bd4-9bac-1749055089ae",
      "name": "Clone Meta"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1136,
        560
      ],
      "id": "a487922e-4d1d-40b9-89eb-fdffc6467c06",
      "name": "Merge Meta+Emb"
    },
    {
      "parameters": {
        "amount": 0.2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        928,
        560
      ],
      "id": "11ce7068-90e5-493d-893d-9f22ac0532d6",
      "name": "Wait",
      "webhookId": "35e76a45-1231-4de4-a8d5-c7811e0e8137"
    },
    {
      "parameters": {
        "jsCode": "const merged = $json || {}\nconst meta = merged.meta ? { ...merged.meta } : {}\nconst httpEmbedding = Array.isArray(merged.embedding) ? merged.embedding : null\nconst fallbackEmbedding = Array.isArray(meta.embedding) ? meta.embedding : null\nconst embedding = httpEmbedding || fallbackEmbedding || null\nconst status = merged.status || (httpEmbedding ? 'ok' : (fallbackEmbedding ? 'fallback' : 'no_embedding'))\nconst chunkIndex = merged.chunk_index != null ? merged.chunk_index : (meta.chunk_index != null ? meta.chunk_index : null)\nconst pageNumber = merged.page_number != null ? merged.page_number : (meta.page_number != null ? meta.page_number : 1)\nconst content = merged.content || merged.chunk_text || meta.content || meta.chunk_text || ''\nreturn [{\n  json: {\n    ...meta,\n    ...merged,\n    meta,\n    chunk_index: chunkIndex,\n    page_number: pageNumber,\n    content,\n    embedding,\n    status,\n  }\n}]\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1344,
        560
      ],
      "id": "746237c4-c829-4fab-91ee-c7212fb94a49",
      "name": "Build Row"
    },
    {
      "parameters": {
        "functionCode": "const src = $json || {}\nlet embedding = null\nconst data = Array.isArray(src.data) ? src.data : (src.body && Array.isArray(src.body.data) ? src.body.data : [])\nif (Array.isArray(src.embedding)) {\n  embedding = src.embedding\n} else if (Array.isArray(data) && Array.isArray(data[0] && data[0].embedding)) {\n  embedding = data[0].embedding\n}\nconst status = embedding ? 'ok' : (src.status || 'failed')\nreturn [{\n  json: embedding ? { embedding } : { embedding: null, status },\n  pairedItem: { item: 0 }\n}]\n"
      },
      "id": "b1deaaa2-6fbb-434a-8efe-5bdaea066b22",
      "name": "Embedding Output Guard",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1120,
        560
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "source_id",
              "value": "={{$json.source_id || $json.meta.source_id}}"
            },
            {
              "name": "chunk_index",
              "value": "={{$json.chunk_index || $json.meta.chunk_index}}"
            },
            {
              "name": "page_number",
              "value": "={{$json.page_number || $json.meta.page_number || 1}}"
            },
            {
              "name": "content",
              "value": "={{$json.content || $json.chunk_text || $json.meta.content || $json.meta.chunk_text || ''}}"
            }
          ],
          "json": [
            {
              "name": "embedding",
              "value": "={{$json.embedding}}"
            }
          ]
        }
      },
      "id": "31f27c9f-d89b-42f7-a334-65954fee6581",
      "name": "Rearmar Payload",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        1520,
        560
      ]
    },
    {
      "parameters": {
        "functionCode": "if ($json.chunk_index == null || $json.chunk_index <= 0) {\n  throw new Error('chunk_index inv\u00e1lido antes del INSERT')\n}\nreturn $json\n"
      },
      "id": "08f755ff-816c-49c4-af4a-10dd88c7317f",
      "name": "Function Guard",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1680,
        560
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- 1) Conteo y rango\nWITH s AS (SELECT MAX(source_id) id FROM kb_sources)\nSELECT COUNT(*) total, MIN(chunk_index) min_idx, MAX(chunk_index) max_idx\nFROM kb_chunks WHERE source_id = (SELECT id FROM s);\n\n-- 2) Duplicados\nWITH s AS (SELECT MAX(source_id) id FROM kb_sources)\nSELECT chunk_index, COUNT(*) c\nFROM kb_chunks\nWHERE source_id = (SELECT id FROM s)\nGROUP BY chunk_index\nHAVING COUNT(*) > 1\nORDER BY chunk_index;\n\n-- 3) Embeddings nulos\nWITH s AS (SELECT MAX(source_id) id FROM kb_sources)\nSELECT SUM((embedding IS NULL)::int) AS null_embeddings\nFROM kb_chunks WHERE source_id = (SELECT id FROM s);\n",
        "options": {}
      },
      "id": "91230bb2-116c-4820-92f5-138c6529b310",
      "name": "Checks",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1840,
        720
      ],
      "credentials": {
        "postgres": {
          "id": "j4uy2P7wwsJyISqB",
          "name": "Postgres DrAI"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "ALTER TABLE kb_chunks DROP CONSTRAINT IF EXISTS kb_chunks_pkey;\nALTER TABLE kb_chunks ADD CONSTRAINT kb_chunks_pkey PRIMARY KEY (source_id, chunk_index);\n",
        "options": {}
      },
      "id": "be27a47c-9b41-4a83-bb23-874f36a22743",
      "name": "Ensure KB PK",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        560,
        592
      ],
      "credentials": {
        "postgres": {
          "id": "j4uy2P7wwsJyISqB",
          "name": "Postgres DrAI"
        }
      },
      "executeOnce": true
    },
    {
      "parameters": {},
      "id": "d37095b9-bd5f-4bce-8171-7692105a7a04",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1568,
        144
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH existing AS (\n  SELECT source_id\n  FROM kb_sources\n  WHERE source_name = 'Test Runner Source'\n  ORDER BY source_id DESC\n  LIMIT 1\n),\nins AS (\n  INSERT INTO kb_sources (source_name, source_path)\n  SELECT 'Test Runner Source', '/data/test-runner'\n  WHERE NOT EXISTS (SELECT 1 FROM existing)\n  RETURNING source_id\n)\nSELECT source_id FROM ins\nUNION ALL\nSELECT source_id FROM existing\nLIMIT 1;\n",
        "options": {}
      },
      "id": "a80f0352-e490-4c65-8ef2-8eca20e66a2f",
      "name": "Test Runner Source",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1360,
        144
      ],
      "credentials": {
        "postgres": {
          "id": "j4uy2P7wwsJyISqB",
          "name": "Postgres DrAI"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "const sourceId = $json.source_id || $json.sourceId\nif (sourceId == null) {\n  throw new Error('Test Runner: source_id no disponible')\n}\nconst baseChunk = 10\nconst embeddings = [0.11, 0.22, 0.33, 0.44]\nconst items = []\nfor (let i = 0; i < 3; i++) {\n  const chunkIndex = baseChunk + i\n  const pageNumber = i + 1\n  const content = 'Test chunk ' + chunkIndex\n  items.push({\n    json: {\n      meta: {\n        source_id: sourceId,\n        chunk_index: chunkIndex,\n        page_number: pageNumber,\n        content,\n        chunk_text: content,\n        embedding: embeddings\n      },\n      source_id: sourceId,\n      chunk_index: chunkIndex,\n      page_number: pageNumber,\n      content,\n      chunk_text: content,\n      test_run: true,\n      embedding: embeddings\n    }\n  })\n}\nreturn items\n"
      },
      "id": "cd0c6a27-92e0-4e0b-a2b0-34a4559a3de7",
      "name": "Test Runner Items",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -1152,
        144
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Extract & Chunk": {
      "main": [
        [
          {
            "node": "Prepare Chunk Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Chunk Payload": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Watch KB Inbox (File Trigger)": {
      "main": [
        [
          {
            "node": "Normalize File Info.",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare File Context": {
      "main": [
        [
          {
            "node": "Insert KB Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert KB Sources": {
      "main": [
        [
          {
            "node": "Prepare Extractor Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize File Info.": {
      "main": [
        [
          {
            "node": "Prepare File Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Extractor Input": {
      "main": [
        [
          {
            "node": "Extract & Chunk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Repack Chunks": {
      "main": [
        []
      ]
    },
    "HTTP Request (embeddings)": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Fan-Out for Embeddings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fan-Out for Embeddings": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          },
          {
            "node": "Ensure KB PK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Alimento a Move",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request (embeddings)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Clone Meta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert KB Chunks": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          },
          {
            "node": "Checks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alimento a Move": {
      "main": [
        [
          {
            "node": "Move to Processed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Meta+Emb": {
      "main": [
        [
          {
            "node": "Build Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clone Meta": {
      "main": [
        [
          {
            "node": "Merge Meta+Emb",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Embedding Output Guard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Row": {
      "main": [
        [
          {
            "node": "Rearmar Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embedding Output Guard": {
      "main": [
        [
          {
            "node": "Merge Meta+Emb",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rearmar Payload": {
      "main": [
        [
          {
            "node": "Function Guard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function Guard": {
      "main": [
        [
          {
            "node": "Insert KB Chunks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Test Runner Source",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test Runner Source": {
      "main": [
        [
          {
            "node": "Test Runner Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test Runner Items": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "64fb8af6-c847-4a1c-948a-dd771957c5a0",
  "meta": {
    "instanceId": "26c5b7ffa6d42a43f69cb24f731969e90a1796cf64d2684e80f4305e5149b46e"
  },
  "id": "vUWMFxpyqniQucad",
  "tags": []
}
